@tailwind base;
@tailwind components;
@tailwind utilities;

.player-position {
  position: absolute;
}

.player-3 {
  top: 12%;
  left: 5%;
  transform: translateY(-50%);
}
.player-2 {
  top: 80%;
  left: 5%;
  transform: translateY(-50%);
}
.player-1 {
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}
.player-5 {
  top: 80%;
  right: 5%;
  transform: translateY(-50%);
}

.player-4 {
  top: 12%;
  right: 5%;
  transform: translateY(-50%);
}
