@tailwind base;
@tailwind components;
@tailwind utilities;

.player-position,
.chips,
.cards {
  position: absolute;
}

.player-3 {
  top: 12%;
  left: 5%;
  transform: translateY(-50%);
}
.player-2 {
  top: 80%;
  left: 5%;
  transform: translateY(-50%);
}
.player-1 {
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}
.player-5 {
  top: 80%;
  right: 5%;
  transform: translateY(-50%);
}

.player-4 {
  top: 12%;
  right: 5%;
  transform: translateY(-50%);
}

.player-1 .cards,
.player-1 .chips {
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
}

.player-4 .cards,
.player-4 .chips {
  bottom: -30%;
  left: -15%;
  transform: translate(-50%);
}

.player-5 .cards,
.player-5 .chips {
  top: -25%;
  left: -15%;
  transform: translate(-50%);
}

.player-2 .cards,
.player-2 .chips {
  top: -20%;
  right: -15%;
  transform: translate(50%);
}

.player-3 .cards,
.player-3 .chips {
  bottom: -30%;
  right: -15%;
  transform: translate(50%);
}
